

.admin-container__reg-link{
  overflow: auto;

  display: block;

  width: 100%;

  margin: 10px 0 0 0;

  white-space: nowrap;
}

.admin-container__user-list-container {
  width: 500px;

  margin: 10px auto;
}
