.table__container {
  overflow: auto;
}

.tible__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1380px;

  margin: 0 auto;
  padding: 5px 0 0 0;
}

.table__btn {
  width: 80px;
  height: 30px;

  font-size: 16px;
}

.table__checkbox {

}

.table__search {
  display: block;

  width: 280px;
  height: 30px;

  padding: 5px;

  border: 1px solid gray;
  border-radius: 5px;
}

.table {
  width: 1380px;

  margin: 10px auto;

  border-collapse: collapse;
}

.tablr__thead {
  background-color: #c6c6c6;
}

.tablr__th {
  border: 1px solid black;
}

.table__tr {

}

.table__tr:hover {
  background-color: #c6c6c6;
}

.tablr__td {
  border: 1px solid black;
}

.table__input {
  display: block;

  width: 100%;

  margin: 0;
  padding: 0;

  border: none;
}

.table__input--check {
  width: 15px;

  margin: 0 auto;
}

.table__tr--edit {
  border: 2px solid red;
}

.tablr__td--sw {
  width: 65px;
}

.tablr__td--port {
   width: 65px;
}

.tablr__td--office {
   width: 80px;
}

.tablr__td--speed {
   width: 85px;
}

.circle {
  /* border: 1px solid #000; */
}

.circle__item {
  width: 15px;
  height: 15px;

  margin: 0 auto;

  border: 1px solid transparent;
  border-radius: 50%;
}
