.table__container {
  max-width: 1415px;
  height: 100vh;

  margin: 0 auto;
  padding: 0 50px;
}

.tible__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  margin: 0 auto;
  padding: 5px 0 0 0;
}

.table__btn {
  width: 80px;
  height: 30px;

  font-size: 16px;
}

.table__checkbox {

}

.table__search {
  display: block;

  width: 280px;
  height: 30px;

  padding: 5px;

  border: 1px solid gray;
  border-radius: 5px;
}

.table {
  width: 100%;

  margin: 10px auto;

  border-collapse: collapse;
}

.tablr__thead {
  background-color: #c6c6c6;
}

.tablr__th {
  padding: 3px 15px;

  border: 1px solid black;
}

.table__tr {

}

.table__tr:hover {
  background-color: #c6c6c6;
}

.tablr__td {
  border: 1px solid black;
}

.table__input {
  display: block;

  width: 100%;

  margin: 0;
  padding: 0;

  border: none;
}

.card-stat {
  z-index: 200;

  width: 320px;

  padding: 5px;

  border: 1px solid transparent;
  border-radius: 5px;

  background-color: white;

  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
}

.card-stat__item {
  margin: 0 0 5px 0;
}

.card-stat-item {

}

.card-stat__item:last-child {
  margin: 0;
}

.card-stat-item__title {
  margin: 0 10px 0 0;
}

.card-stat-item__text {

}

.card-ip {
  z-index: 200;

  width: 220px;

  padding: 5px;

  border: 1px solid transparent;
  border-radius: 5px;

  background-color: white;

  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
}

.card-ip__item {
  margin: 0 0 5px 0;
}

.card-ip__item:last-child {
  margin: 0;
}

.card-ip-item {

}

.card-ip-item__title {
  margin: 0 10px 0 0;
}

.card-ip-item__text {

}

.table__input--check {
  width: 15px;

  margin: 0 auto;
}

.table__tr--edit {
  border: 2px solid red;
}

.tablr__td--sw {
  width: 65px;
}

.tablr__td--port {
   width: 65px;
}

.tablr__td--office {
   width: 80px;
}

.tablr__td--speed {
   width: 85px;
}

.tablr__td--on-off {
   width: 108px;
}

.circle {
  /* border: 1px solid #000; */
}

.circle__item {
  width: 15px;
  height: 15px;

  margin: 0 auto;

  border: 1px solid transparent;
  border-radius: 50%;
}
