.btn {
  display: block;

  /* width: 80px;
  height: 30px; */

  padding: 0;

  border: 1px solid gray;
  border-radius: 7px;

  background: none;

  cursor: pointer;

  color: gray;

  transition: color .15s, background-color .15s;
}

.btn:hover {
  background-color: #22BC29;

  color: white;

  transition: color .15s, background-color .15s;
}
